# Created by venv; see https://docs.python.org/3/library/venv.html
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env/
# Ignore Python virtual environment directories
# Ignore Jupyter Notebook checkpoints
# Ignore the data directory
\data\Model 2025 Baseline Simulation Sample Actual.xlsx
# Ignore the logs directory
logs/